:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  transition: all 0.5s ease;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

img{
  width: 600px;
  height: 400px;
  border-radius: 15px;
}
.slider{
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.leftArrow{
  position: absolute;
  top: 50%;
  left: 150px;
  font-size: 5rem;
  z-index: 10;
  cursor: pointer;
}
.rightArrow{
  position: absolute;
  top: 50%;
  right: 150px;
  font-size: 5rem;
  z-index: 10;
  cursor: pointer;
}
.slide{
  transition: 1s ease;
  opacity: 0;

}
.slide-active{
  transform: scale(1.08);
  transition-duration: 1s;
  opacity: 1;
}
p{
  font-weight: bold;
  font-size: 24px;
}